* {
    box-sizing: border-box;
} 
body {
    font-family: $body-font;
}
.content-container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}
.section-title {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: $title-font;
}
.section-subtitle {
    color: transparentize($title-color, 0.2);
}
a {
    color: inherit;
}