// colors
$title-color: #676767;
$color-heading-primary: #2D2C2C;
$primary-color: #3e3b3b;
$secondary-color: #E6E6E6;
$paragraph-color: #939393;
$links-color: #151515;
$white: #fff;
$black: #000;
$silver: #C0C0C0;

// breakpoints
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;

//fonts
$body-font: 'Open Sans', sans-serif;
$title-font: 'Oswald', sans-serif;
$first-font: 'Yantramanav', sans-serif;