.about-title {
    font-size: 24px;
    float: left;
}
.page-section-about {
  color: #000;
  text-align: left;

    .about-text {
      padding-left: 50px;
      padding-right: 20px;
      width: 100%;
    }
      .about-title {
          font-size: 3rem;
          letter-spacing: 1.2px; 
          padding: 20px 20px;
      }
      .about-description {
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 1px;
          line-height: 30px;
          text-align: center;
          color: $paragraph-color; 
         // text-align: center;  

          @media screen and (min-width: $desktop-min) {
              font-size: 24px;
              letter-spacing: 1.2px;
              line-height: 36px;
              padding: 20px 20px;      
          }
      }
      a {
          text-decoration: none;
          float: right;
          margin-top: 20px;
          margin-right: 20px;
      }        
  }
  .content-container {
    &:after {
        content:"";
        display: table;
        clear: both;
    }
  }    



