.about-title {
    text-align: center;
    font-size: 24px;
}
.page-section-about {
  color: #000;
  text-align: left;

    .about-text {
    @media screen and (min-width: $desktop-min) {
      float: right;
      padding-left: 50px;
      padding-right: 20px;
      width: 49%;
    }
      h2, h4 {
          font-size: 3rem;

          color: $marigold-color;
          letter-spacing: 1.2px; 
          padding: 0 20px;
      }
      p {
        line-height: 1.8;
        padding: 20px 20px;
        font-size: 1.4rem;
        font-weight: 400;
        color: $paragraph-color;   
      }
      a {
        text-decoration: none;
        float: right;
        margin-top: -20px;
      }        
  }
  .about-img {
    @media screen and (min-width: $desktop-min) {
      float: left;
      width: 49%;
    }
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  } 
  .content-container {
    &:after {
      content:"";
      display: table;
      clear: both;
    }
  }    
}


