#contact {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content : center;
    padding: 50px 0; 
    
    background-color: $secondary-color;
}
form {
	margin: 20px 20px;
	display: block;
    max-width: 100%;
    min-width: 100%;
    padding: 20px;
}


 .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
 }