.page-section-contact {
     background-color: $white;
     padding: 20px 80px;
 
    .content-wrapper {

        @media screen and (min-width: $desktop-min) {
            display: flex; 
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.contact-form-wrapper {
    flex-basis: 100%;

    @media screen and (min-width: $desktop-min) { 
        flex-basis: 50%;
    }
}

.contact-info {
    flex-basis: 100%;
    margin-top: 30px;

    @media screen and (min-width: $desktop-min) { 
        flex-basis: 40%;
        margin-top: 0;
    }

    .contact-link {    
        float: none;
        font-size: 16px;
        margin: 5px 0;
        padding: 10px 10px;
        display: block;
        line-height: 20px;
        color: $links-color;
        text-decoration: none;

        &:hover {
            color: $silver;
            transition: .3s;
        }
    }

    .icon-wrapper {
        display: block;
        padding: 0 9px;
        margin-bottom: 5px;
        i {
            font-size: 40px;
        }

        @media screen and (min-width: $desktop-min) {
            display: inline-block;
            margin-bottom: 0;
            i {
                font-size: 16px;
            }
        }
    }      
}

.contact-form, .contact-info {
    text-align: center;

    @media screen and (min-width: $desktop-min) {
        text-align: left;
    }
}
.form-input {
    background-color: $white;
    margin-bottom: 10px;
    width: 100%;
    height: 38px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    color: #151515;
    &::-webkit-input-placeholder {
        font-family: Roboto;
    }


    &.textarea {
        height: 200px;
        resize: none;
        text-align: left;
        padding: 15px;
        box-shadow: inset 0px -20px 43px -40px rgba(0,0,0,0.75);
    }
}

.label {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    display: block;
    padding: 7px 5px;
    margin-top: 10px;
    color: $title-color;
}

.btn-send {
    background-color: $white;
    color: $black;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid $black;
    transition: background-color .2s ease-out;
    margin: 6px 0;
    height: 40px;
    width: 100px;
    text-transform: uppercase;
    -webkit-appearance: none;

    @media screen and (min-width: $desktop-min) {
        position: relative;
        left: 5px;
    }

    &:hover {
        background-color: $primary-color;
        color: $white;
    }
}
.section-contact {
    font-size: 50px;
}
