.page-section-contact {
     background-color: $secondary-color;
     padding-top: 20px;
    
    .content-wrapper {
    	display: flex;
        justify-content : center;
        flex-direction: column;
        padding: 50px 15px; 

        @media screen and (min-width: $desktop-min) { 
            flex-direction: row;
        }
    }
}

.contact-form-wrapper {
    flex-basis: 100%;


    @media screen and (min-width: $desktop-min) { 
        flex-basis: 70%;
        padding-right: 30px;
    }
}

.contact-info {
    flex-basis: 100%;
    margin-top: 30px;

    @media screen and (min-width: $desktop-min) { 
        flex-basis: 30%;
        margin-top: 0;
    }

    .contact-link {    
        float: none;
        font-size: 16px;
        margin: 5px 0;
        padding: 10px 10px;
        display: block;
        line-height: 20px;
        color: $links-color;
        text-decoration: none;

        &:hover {
            color: $marigold-color;
        }
    }

    .icon-wrapper {
        display: block;
        padding: 0 9px;
        margin-bottom: 5px;
        i {
            font-size: 40px;
        }

        @media screen and (min-width: $desktop-min) {
            display: inline-block;
            margin-bottom: 0;
            i {
                font-size: 16px;
            }
        }
    }      
}
.contact-form, .contact-info {
    text-align: center;

    @media screen and (min-width: $desktop-min) {
        text-align: left;
    }
}
.form-input {
    background-color: $white;
    margin-bottom: 10px;
    width: 100%;
    height: 38px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    color: $primary-color;
    &::-webkit-input-placeholder {
        font-family: Roboto;
    }


    &.textarea {
        height: 200px;
        resize: none;
        text-align: left;
        padding: 15px;
        box-shadow: inset 0px -20px 43px -40px rgba(0,0,0,0.75);
    }
}

.btn-send {
    background-color: $primary-color;
    color: $white;
    border-radius: 2px;
    border: 0;
    transition: background-color .2s ease-out;
    margin: 6px 0;
    height: 40px;
    width: 100px;
    text-transform: uppercase;
    -webkit-appearance: none;

    &:hover {
        background-color: $marigold-color;
    }
}
