.page-section-home {
	width:100%;
	height: 100vh;
}
h2 {
	color: $color-heading-primary;
}
p {
	color: $secondary-color;
}

.hero {
    background: url('http://www.solve-ideas.com/wp-content/uploads/ADCB_Hover_20150826.jpg') 0/cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.hero-content {
	position: relative;
    padding: 250px 50px;
    float: right;

		h2 {
		 	font-size: 3rem;
		    color: $marigold-color;
		    font-weight: bold;
		    letter-spacing: 2px;
		    margin-bottom: 20px;
		}

		span {
			color: $white;
	}
}