.main-nav {
	opacity: 0;
	top: -100px; 
	transition: opacity 0.5s ease-in-out;
	position: fixed;
	background-color: $white;
	left:0;
	right: 0;

	 ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		float: right;
		
		li {
			display: inline-block;
			
			a {
				display: block;
				line-height: 85px;
				padding: 0 20px;
				color: #2E2E2E;
				text-decoration: none;
				text-transform: uppercase;
				
				&:hover {
					color: $marigold-color;
				}
			}
		}
	}	
}
.main-nav--is-visible {
	opacity: 1;
	top: 0;
}