.skills-list {
	//to do.. reset list
	//list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around; 

}
.skills-item {


}
.skills-title {
	color: $title-color;
}
.skills-icon {

  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  border-radius: 50%;

&:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  transform: scale(0.8);
}
	
}
